<!DOCTYPE html>
<html>
  <head>
    <title>My Webpage</title>
    <!-- Include Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <!-- Include Navbar -->
    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="#">My Website</a>
      <div class="form-group row mx-sm-3 mb-2">
        <label for="inputUsername" class="col-sm-2 col-form-label sr-only"
          >Username</label
        >
        <div class="col-sm-3">
          <input
            type="text"
            class="form-control"
            id="inputUsername"
            placeholder="Username"
          />
        </div>
        <label for="inputEmail" class="col-sm-2 col-form-label sr-only"
          >Email</label
        >
        <div class="col-sm-3">
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            placeholder="Email"
          />
        </div>
        <label for="inputLoginPassword" class="col-sm-2 col-form-label sr-only"
          >Password</label
        >
        <div class="col-sm-2">
          <input
            type="password"
            class="form-control"
            id="inputLoginPassword"
            placeholder="Password"
          />
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-primary mb-2">Log In</button>
        </div>
      </div>
    </nav>

    <!-- Content -->
    <div class="container">
      <h1>Hello World!</h1>
      <p>Welcome to my website.</p>
    </div>

    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
