<!DOCTYPE html>
<html>
  <head>
    <title>My Webpage</title>
    <!-- Include Bootstrap CSS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Modify background color -->
    <style>
      body {
        background-color: rgb(255, 255, 0);
      }
      .movie-info {
        background-color: darkgreen;
        padding: 10px;
        margin-bottom: 10px;
        color: white;
      }
      .centered-div {
        text-align: center;
      }
      .navbar {
        min-height: 15px !important;
      }
      #bottom-navbar {
        display: none;
      }
      .btn-outline-primary {
        color: rgb(255, 255, 0);
        border-color: rgb(255, 255, 0);
      }
      .btn-outline-primary.text-primary:hover {
        background-color: yellow;
      }
      .btn-outline-red {
        color: red;
        border-color: red;
      }
      
      .btn-outline-red.text-primary:hover {
        background-color: red;
      }
      
    </style>
  </head>
  <body>
    <!-- Include Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand" href="#" style="color: rgb(255, 255, 000)"
        >My Movie Website</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarContent"
        aria-controls="navbarContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
          <!-- add any additional links you want here -->
        </ul>
        {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="POST">
          {% csrf_token %}
          <button type="button" class="btn btn-secondary btn-blue" onclick="window.location.href = '{% url 'add_movie' %}'">Add a movie</button>
          <button type="submit" class="btn btn-outline-primary btn-outline-red my-2 my-sm-0 mr-2 text-primary">Logout</button>
        </form>
      {% else %}
        <button class="btn btn-outline-success my-2 my-sm-0 mr-2 text-primary" type="button" data-toggle="modal" data-target="#loginModal">
          <a href="{% url 'login' %}">Log In</a>
        </button>
        <button class="btn btn-outline-primary my-2 my-sm-0 mr-2 text-primary" type="button" data-toggle="modal" data-target="#registerModal">
          <a href="{% url 'signup' %}">Register</a>
        </button>
      {% endif %}
      
        </div>
      </div>
    </nav>

 

    <!-- Content -->
    <div class="container text-center">
      <div class="container text-center">
        {% if user.is_authenticated %}
        <h3>Hello Chad! {{ user.username }}!</h3>
        {% else %}
        <h1>Hello Chad! </h1>
        <h3>Welcome to my website. here we can see some movies I like</h3>
        {% endif %}
      </div>
    </div>
    <div class="container">
      {% for movie in movie_list %}
      <div class="movie-info">
        <h3>
          <a href="{% url 'movie_detail' movie.id %}">{{ movie.name }}</a>
        </h3>
        <p>Year: {{ movie.year }}</p>
        <p>Description: {{ movie.desc }}</p>
        <img src="{{ movie.image.url }}" alt="{{ movie.name }}" width="300" />
      </div>
      {% endfor %}
    </div>

    <!-- Add fixed-bottom bar -->
    <nav id="bottom-navbar" class="navbar fixed-bottom navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Thanks For Visiting</a>
    </nav>

    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <!-- Include Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script>
      window.addEventListener("scroll", function () {
        const scrollHeight = document.body.scrollHeight;
        const scrollPosition = window.innerHeight + window.scrollY;
        const bottomNavbar = document.getElementById("bottom-navbar");

        if (scrollPosition >= scrollHeight) {
          bottomNavbar.style.display = "block";
        } else {
          bottomNavbar.style.display = "none";
        }
      });
    </script>
  </body>
</html>
